# Database (Neon)
DATABASE_URL="postgresql://user:pass@host/neondb?sslmode=require"
DIRECT_URL="postgresql://user:pass@host/neondb?sslmode=require"

# Auth
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
